@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/quiz.css");
@import url("components/card-white.css");


body {
	font-family: 'lora', serif;
	font-size: 18px;
	margin: 0px;
}


h1, h2 {
	font-family:'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
}



a {
	text-decoration: none;
	text-align: center;
}
